PORT=5000
MONGODB_URI=mongodb+srv://Kashan:kashanalighouri@learning.3oebj2g.mongodb.net/?appName=Learning
JWT_SECRET=pacxone-super-secret-key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

